.nav {
	display: flex;
	background: #242424;
	color: #ffffff;
	padding: 16px 24px;
}

.links {
	display: flex;
	flex: 1 0 auto;
	justify-content: flex-end;
  align-items: center;
	margin: 0 24px;
}

.links > a:not(:last-of-type) {
	margin-right: 24px;
}